<h1>Editing opinion</h1>

<%= error_messages_for :opinion %>

<% form_for(@opinion) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Track</b><br />
    <%= f.text_field :track_id %>
  </p>

  <p>
    <b>Rating</b><br />
    <%= f.text_field :rating %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @opinion %> |
<%= link_to 'Back', opinions_path %>
